h1 {
    font-family: 'Raleway', sans-serif;    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    font-size: 2.5em;
}
h2 { 
    font-family: 'Raleway', sans-serif;    font-size: 24px;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    font-size: 2.0em;
} 
h3 { 
    font-family: 'Raleway', sans-serif;    font-size: 24px;
    font-size: 1.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
} 
h1.light, h2.light, h3.light {
font-weight: 300;
}
h1.regular, h2.regular, h3.regular {
    font-weight: 400;
}
h1.medium, h2.regular, h3.regular {
    font-weight: 500;
}
h1.semi-bold, h2.semi-bold, h3.semi-bold {
    font-weight: 600;
}
h1.bold, h2.bold, h3.bold {
    font-weight: 700;
}
h1.extra-bold, h2.extra-bold, h3.extra-bold {
font-weight: 800;
}


p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
    font-variant: normal;
    font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

/*

    USEFUL FUNCTIONS

*/

li {
    list-style: none;
}

.croix-rouge-color {
    color: #ed1b2e !important;
}

.croix-rouge-color-dark {
    color: #6d6e70;
}

.croix-rouge-color-darker {
    color: #1E1D1D;
}

#grey {
    background-color: #EFEFEF;
}

#link {
    color: #ed1b2e;
}

.hidden {
    display: none;
}

.color-line {
    border-top: 1px solid #ed1b2e;
}

.bigger-btn {
    font-weight: 700;
}

.lower-btn {
    font-size: 0.8em;
}
.space {
    margin: 1.2em;
}

.other-btn {
    padding: 0.5em 1em;
}
.cus-btn {
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.red-btn {
    background-color: #ed1b2e;
    border: 1px solid #ed1b2e;
    color: #fff;
}
.red-btn:hover {
    background-color: #ff3a49;
    border: 1px solid #ff3a49;
    color: #fff;
}
.white-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.white-btn:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}
.black-full-btn {
    background-color: #1E1D1D;
    border: 1px solid #1E1D1D;
    color: #fff;
} 
.black-full-btn:hover {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
}    
.black-btn {
    background-color: transparent;
    border: 1px solid #1E1D1D;
    color: #1E1D1D;
}
.black-btn:hover {
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
}


/* EXTERNAL */

a {
    color: #3490E6;
    text-decoration: none;
    cursor: pointer;
}
p.regular {
    font-weight: 400;
}

p.bold {
    font-weight: 600;
}
/*ul, ol {
    padding-left: 20px;
}*/
/*
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    ``



    BROUILLON

    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}*/