* {
    font-family: 'Roboto', sans-serif;
}

/


/* 

TOP BAR 

*/

.top-bar-container {
    border-bottom: 5px solid #E00B25;
}

.top-bar, .top-bar ul {
    background-color: #fff;
}

.menu li a {
    padding: 5px;
    color: #000;
}

.menu li a img {
    width: 20px;
    margin: 0 5px;
}

.menu li a i {
    font-size: 1.50em;
    margin: 0 5px;
    vertical-align: middle;
}

.unite-locale {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.75em;
  }
  
/*

    NAV BAR 

*/


.main-nav-bar-container {
    background-color: #fff;
    width: 100%;
}

.main-nav-bar {
    width: 75%;
    margin: 0 auto;
}
.main-nav-bar ul {
    padding: 0.75em 0;
}

.main-nav-bar ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 1.05em;
    font-weight: 800;
}

.main-nav-bar li a {
    margin: 0 1.5em;
}

.main-nav-bar ul li.li-title > a:hover {
    background-color: #E00B25 !important;
    color: #fff !important;
}

.main-nav-bar ul li.li-title.se-former > a:hover, .main-nav-bar ul li.li-title.s-engager > a:hover {
    background-color: #000 !important;
}

.main-nav-bar-inside li a {
    font-size: 0.8em !important;
    font-weight: 300 !important;
}

.main-nav-bar-inside li {
    padding: 0 20px;
}

.main-nav-bar-inside li a {
    margin: 0 0 !important;
    color: #000 !important;
}

.main-nav-bar-inside li:before {
    content:'>';
    color: #E00B25;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0.7em 0;
    
}

.main-nav-bar-inside li:hover {
    background-color: #d2d2d2;
}

.elements {
    background-color: #E00B25;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #E00B25 transparent transparent;
}

.dropdown.menu .se-former.is-dropdown-submenu-parent a:after {
    border-color: #000 transparent transparent !important;
}

.navbar-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-box-shadow: 0 6px 8px -6px #b4b4b4;
    box-shadow: 0 6px 8px -6px #b4b4b4;
}

/*

    HERO

*/
.hero {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    background-color: white;
}
.hero img {
    width: 100%;
    -webkit-box-shadow: 0px 30px 62px -36px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 30px 62px -36px rgba(0,0,0,0.6);
    box-shadow: 0px 30px 62px -36px rgba(0,0,0,0.6);
}

.hero .hero-text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero .hero-text .sup-header {
    font-size: 0.8em;
    text-transform: uppercase;
}
.hero .hero-text .header {
    font-weight: 600;
    text-transform: uppercase;
}
.hero .hero-text .sub-header p {
    font-weight: 200;
    font-size: 1.5em;
    color: #eee !important;
}
.hero .sub-header {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0.55em 0.25em;
}
.hero .sub-header button:hover {
    cursor: pointer;
}
.hero .sub-header a {
    margin-right: 15px;
}
.hero .sub-header button.aider {
    overflow: auto;
    border: 1px solid #E00B25;
    color:#E00B25;
    padding: 0.75em;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.hero .sub-header button.more {
    border: 1px solid #E00B25;
    color:#fff;
    padding: 0.75em;
    background-color:#E00B25;
}

button.aider:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1a */
.hero .sub-header button.aider:hover {
    background-color: #E00B25;
    color: #fff;
}

/*

LEFT SIDE

*/

.principes ul.menu li img {
    height: 125px;
}



/*

    RIGHT SIDE

*/
#right-panel li {
  margin: 1em 0;
}

#right-panel p, #right-panel h4 {
    color: #444;
}

#right-panel p {
    font-size: 0.75em;
}


#right-panel .donate-container {
    position: relative;
}

#right-panel .donate {
    position: absolute;
    color: #444;
    font-size: 1.4em;
    font-weight: 600;
    top: 25%;
    width: 100%;
}
#right-panel .donate h4 {
    text-align: center;
}

#right-panel .enroll-container {
    background-color: #F5F0E9;
    background: repeating-linear-gradient(
  45deg,
  #F5F0E9,
  #F5F0E9 10px,
  #F0EBE4 10px,
  #F0EBE4 20px
);
    padding: 1em;
    text-align: center;
}

#right-panel .formation-li .formation-container {
    background-color: #F0EBE4;
    padding: 1em 1em 0.5em 1em;
}

#right-panel ul {
    list-style-type:none
}

#right-panel .contact{
    background-color: #F5F0E9;
    padding: 1em;
}

#right-panel span {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #8A7D4C;
}

#right-panel .principes-li h4 {
    color: #E00B25;
}

/*
    FOOTER
*/

footer {
    padding: 2em 0;
}


footer ul li a, footer p {
    color: #BDC3C7 !important;
    font-size: 0.8em;
    font-weight: 200;
}

footer ul li a {
    padding: 0 1em;
}

footer p {
    margin: 1em 0;
    text-align: center;
}



/*

    EFFECTS

*/

.fadeIn {
    animation-duration: 0.8s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
